<div class="container">
  <div class="home-wrapper">
    <div class="wrapper">
      <h2>Contact Manager</h2>
      <p>This is a portfolio project to showcase knowledge of:</p>
      <ol>
        <li>Angular Components and JSX</li>
        <li>Angular Router</li>
        <li>Prop and state management</li>
        <li>Angular services</li>
        <li>
          Making asynchronous calls to the JSON placeholder fake RESR API using
          'async/await'
        </li>
      </ol>
    </div>
    <app-contacts></app-contacts>
  </div>
</div>
